<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="preload" href="fonts/ssp-v21-l.woff2" as="font" crossorigin>
  <script type="module" src="main.ts"></script>
</head>
<body>
  {% block content %}{% endblock %}
  <div id="app"></div>
</body>
</html>